@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

#header {
  background: #fff;
  color: #000;
  .header {
    display: flex;
    gap: 15px;
    flex-direction: column;
    &__top {
      display: flex;
      justify-content: space-between;
      .logo {
        font-family: Montserrat Alternates;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.25em;
        text-align: left;
        color: #263238;        
      }
      .contact {
        display: flex;
        gap: 10px;
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      &__text {
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #263238;        
      }
      .header__nav {
        display: flex;
        gap: 10px;
        a {
          text-decoration: none;
          font-family: Montserrat Alternates;
          font-size: 13px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.25em;    
          color: #263238;
        }

      }
    }
  }
}
